* {
	margin: 0; 
	padding: 0; 
}

.para{
  color:black;
  font-size:19px;
  padding:5px;
  margin:8px;
  
}
.h3{
  color:black;
  padding:3px;
}
body {
	font-family: 'Lato', sans-serif;
	background-image: url("https://i.pinimg.com/736x/33/ef/8b/33ef8b9c0b902154a6cd4103a21275ef.jpg");
	background-size: cover;
	
}
body::before{
	filter:blur(2px);
}
.wrapper {
	width: 1170px;
	margin: auto;
}
header {
  
  
	height: 100vh;
	-webkit-background-size: cover;
	background-size: cover;
	background-position: center center;
	position: relative;
}
.nav-area {
	text-align: center;
	justify-content: center;
	align-content: center;
	list-style: none;
	margin-top: 30px;
}
.nav-area li {
	display: inline-block;
}
.nav-area li a {
	color: black;
	text-decoration: none;
	padding: 5px 20px;
	font-family: poppins;
	font-size: 16px;
	text-transform: uppercase;
}
.nav-area li a:hover {
	background:grey;
	color: #333;
}
.logo {
	float: left;
}
.video-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
}

video {
  position: absolute;
  z-index: 10;
  width: 100%;
  height: 100vh;
  max-width: none;
}
.logo img {
	width: 100%;
	padding: 15px 0;
}
.h1{
  font-size:55px;
}
.welcome-text {
	position: absolute;
	width: 600px;
	height:150px;
	margin: 20% 30%;
	text-align: center;
  margin-top: 250px;
}
.welcome-text h1 {
	text-align: center;
	color: black;
	text-transform: uppercase;
	font-size: 60px;
}
.welcome-text a {
	border: 1px solid black;
	padding: 10px 25px;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 14px;
	margin-top: 20px;
	display: inline-block;
	color: #333;
}
.welcome-text a:hover {
	background: grey;
	color: #333;
}
/*resposive*/

@media (max-width:600px) {
	.wrapper {
		width: 100%;
	}
	.logo {
		float: none;
		width: 50%;
		text-align: center;
		margin: auto;
	}
	
	
	.nav-area {
		float: none;
		margin-top: 0;
	}
	.nav-area li a {
		padding: 5px;
		font-size: 11px;
	}
	.nav-area {
		text-align: center;
	}
	.welcome-text {
		width: 100%;
		height: auto;
		margin: 30% 0;
	}
	.welcome-text h1 {
		font-size: 30px;
	}
}
