body {
    font-family: Arial, sans-serif;
    
    color: #333;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
   background-image: url("https://i.pinimg.com/736x/00/9b/17/009b17ecce180e2d5113aa95f0cc6836.jpg");
   background-repeat: no-repeat;
   background-size: cover;
   position: relative;
   overflow: hidden;


}


header {
   
    color: black;
    padding:30px;
    text-align: center;
    width: 100%;
    margin:0%;
    font-size:25px;
}

main {
    padding: 20px;
    width: 80%;
    max-width: 800px;
}

button {
    background-color: #4caf50;
    color: white;
    border: none;
    padding: 15px 20px;
    cursor: pointer;
    margin-bottom: 20px;
}

button:hover {
    background-color: #45a049;
}

#data-output {
    background-color: #fff;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow-x: auto;
    
    text-align: center;
    align-items: center;
    justify-content: center;

}
#aroma-profile{
    align-items: center;
    text-align: center;
    display:block;
    border:2px solid black;
    padding:5px;
    margin:4px;
}
#intensity-preference{
    align-items: center;
    text-align: center;
    display:block;
    border:2px solid black;
    padding:5px;
    margin:4px;
}
#dashboard{
    align-items: center;
    text-align: center;

}