body {
    font-family: Arial, sans-serif;
    background-image:url("https://i.pinimg.com/736x/0c/16/76/0c16763eda8c43e56e3235514a78690a.jpg");
    margin: 0;
    padding: 0;
    background-repeat: no-repeat;
    background-size: cover;
    
}
/* Modal Styles */
.recipe-modal {
    display: none; /* Hidden by default */
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

.recipe-modal-content {
    background-color: white;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 600px;
}

button {
    padding: 10px 15px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

.container {
    width: 80%;
    margin: auto;
    padding: 20px;
}

h1 {
    text-align: center;
    color: #333;
}

.search-form {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

#searchInput {
    width: 300px;
    padding: 10px;
    font-size: 16px;
}

#searchButton {
    padding: 10px 20px;
    margin-left: 10px;
    font-size: 16px;
    cursor: pointer;
}

.recipe-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.recipe-card {
    width: 200px;
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    background-color: white;
    text-align: center;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.recipe-card img {
    width: 100%;
    height: 150px;
    object-fit: cover;
}

.recipe-card h3 {
    font-size: 18px;
    margin: 10px 0;
}

.recipe-card p {
    font-size: 14px;
    color: #777;
    padding: 0 10px;
}

.recipe-card a {
    text-decoration: none;
    color: #4CAF50;
    font-weight: bold;
    margin-bottom: 10px;
    display: block;
}
a{
    background-color: green;
    color: aliceblue;
    align-items: center;
    justify-content: center;
    width:132px;
    height:232px;
    align-content: center;
    margin-left: 670px;
text-decoration: none;

}